.pricing-hero {
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 130px 20px 0;
    display: flex;
}
.pricing-hero .container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-hero .title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 00px;
  padding-top: 20px; 
}
.pricing-hero .title-wrapper h1 {
    -webkit-text-fill-color: transparent;
    letter-spacing: -5.12px;
    text-align: center;
    margin-bottom: 9px;
    padding-bottom: 36px;
    font-size: 175.76px;
    font-weight: 400;
    line-height: 153.14px;
    position: relative;
    font-family: sequel_sans_semi_bold_disp !important;
}
.pricing-hero .hero-image {
    z-index: 10;
    width: 320px;
    height: auto;
    position: absolute;
    top: -163px;
    right: 42px;
}
.pricing-hero .hero-subtitle {
    letter-spacing: 0px;
    text-align: center;
    color: #29292b;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 415;
    line-height: 60px;
    font-family: sequel_sans !important;
}
.pricing-hero .hero-description {
    color: #757b8a;
    letter-spacing: 0;
    max-width: 900px;
    margin: 0 0 19px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: Inter !important;
}

.pricing-hero .hero-disclaimer {
   color: #888E9E;
    letter-spacing: 0;
    max-width: 900px;
    margin: 16px 0 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Inter !important;
}
 .smokeyGradient {
        background: linear-gradient(90deg, #1ab2ff, #ffb258, #1ab2ff);
        background-size: 300%;
        animation: smokeMove 6s ease-in-out infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      @keyframes smokeMove {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
      }



@media (max-width: 767px) {
.pricing-hero .title-wrapper h1 {
    letter-spacing: 0;
    font-size: 94px;
    line-height: 88.14px;
}
.pricing-hero .hero-subtitle {
    margin-bottom: 14px;
    font-size: 33px;
    line-height: 39px;
}
.pricing-hero .title-wrapper {
    margin-bottom: 0;
}
.pricing-hero .hero-description {
    letter-spacing: 0;
    max-width: 100%;
    font-size: 20px;
    line-height: 27px;
}
.pricing-addons .pricing-addons-container {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.pricing-hero .hero-disclaimer {
    margin: 0;
}
.pricing-hero .hero-image {
    z-index: 10;
    width: 217px;
    height: auto;
    position: absolute;
    top: -110px;
    right: -49px;
}
}