.sp-apps {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 80px 20px;
}
.sp-apps .sp-apps-container {
  width: 100%;
}
.sp-apps .sp-apps-header {
  text-align: center;
  margin-bottom: 50px;
  width: 860px;
  margin: 0 auto;
}
.sp-apps .main-heading {
     letter-spacing: 0px;
    text-align: center;
    color: rgb(41, 41, 43);
    font-size: 48px;
    font-weight: 420;
    line-height: 60px;
    font-family: sequel_sans_semi_bold_disp !important;
    margin: 0px 0px 14px;
}
.sp-apps .sub-heading {
    color: #757b8a;
    letter-spacing: 0;
    margin: 0 0 19px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: Inter !important;
}
.sp-apps .comparison-row {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 24px;
    display: grid;
    width: 1200px;
    margin: 48px auto;
}
.sp-apps .apps-cluster {
  background-color: #f9fafb;
  border-radius: 32px;
  padding: 40px 24px;
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.app-bubbles img {
    width: 360px;
}
.sp-apps .cluster-label {
    color: #757B8A;
    margin: 0;
    font-family: Inter, sans-serif !important;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}
.sp-apps .memate-card .memate-label {
    color: #29292B;
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;
    font-family: 'Inter' !important;
}
.sp-apps .arrow-divider {
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    display: flex;
    box-shadow: 0px 2px 52px 0px #14142B14;
}
.sp-apps .arrow-divider span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp-apps .memate-card {
    text-align: center;
    background-color: #fff;
    border-radius: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px 24px;
    display: flex;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), radial-gradient(43.74% 561.99% at 27.57% 30.42%, rgb(26, 179, 255) 0.15%, rgb(255, 178, 88) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-image: none;
}
.sp-apps .memate-logo img {
    width: 140px;
}
.sp-apps .memate-logo {
    margin-bottom: 32px;
}
.sp-apps .comparison-table {
    width: 1000px;
    margin: 0 auto;
}
.sp-apps .table-header-row {
    border-bottom: 1px solid #E5E8ED;
    grid-template-columns: 1fr 60px 1fr;
    gap: 16px;
    margin-bottom: 8px;
    padding: 0 0 12px;
    display: grid;
}
.sp-apps .table-header-row .col-left, .sp-apps .table-header-row .col-right {
    letter-spacing: 8%;
    color: #757B8A;
    text-transform: uppercase;
    font-family: Inter, sans-serif !important;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}
.sp-apps .table-row {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  gap: 16px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #E5E8ED;
}
.sp-apps .table-row .col-left {
    color: #757B8A;
    font-family: Inter, sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.sp-apps .table-row .col-mid {
    text-align: right;
    color: #B2B8C4;
    align-items: center;
    display: flex;
    justify-content: end;
}
.sp-apps .table-row .col-right {
    color: #29292B;
    gap: 10px;
    font-family: Inter, sans-serif !important;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    line-height: 28px;
    letter-spacing: 0%;
     align-items: center;
}
.sp-apps .col-right .check-icon {
    display: flex;
    align-items: center;
}
.sp-apps .bottom-highlight {
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(#fff, #fff), radial-gradient(43.74% 561.99% at 27.57% 30.42%, #1ab3ff .15%, #ffb258 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 2px solid #0000;
    border-image: ;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 32px 48px;
    display: flex;
    width: 1000px;
    margin: 48px auto 96px;
}
.sp-apps .bottom-highlight p {
    letter-spacing: -1px;
    color: #29292B;
    font-family: Inter, sans-serif !important;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
.sp-apps .bottom-highlight strong {
  font-weight: 700;
}


@media (max-width: 767px) {
.sp-apps {
    padding: 48px 20px;
}
.sp-apps .sp-apps-header {
    width: 100%;
}
.sp-apps .main-heading {
    font-size: 32px;
    line-height: 40px;
}
.sp-apps .main-heading br {
    display: none;
}
.sp-apps .sub-heading {
    font-size: 20px;
    line-height: 30px;
}
.app-bubbles img {
    width: 100%;
}
.sp-apps .comparison-row {
    grid-template-columns: 1fr;
    gap: 24px;
    width: 100%;
    margin: 26px auto;
    display: grid;
    text-align: center;
}
.sp-apps .arrow-divider {
    margin: 0 auto;
}
.sp-apps .comparison-table {
    width: 100%;
    margin: 0 auto;
}
.sp-apps .table-row {
    grid-template-columns: 1fr 20px 1fr;
    gap: 16px;
    padding: 12px 0;
    display: grid;
}
.sp-apps .table-row .col-right,.sp-apps .table-row .col-left {
    font-size: 15px;
    line-height: 20px;
}
.sp-apps .bottom-highlight {
    width: 100%;
    height: 100%;
    margin: 32px auto 0;
    padding: 19px 26px;
    display: flex;
}
.sp-apps .bottom-highlight p {
    letter-spacing: 0;
    font-size: 20px;
    line-height: 29px;
}

}